Data Cleaning and Pre Processing

In [1000]:
import numpy as np

In [1001]:
np.set_printoptions(suppress=True, linewidth=100, precision=2)

Importing data

In [1003]:
raw_data_np=np.genfromtxt("loan-data.csv",delimiter=";",skip_header=1,autostrip=True)
raw_data_np

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

Checking for Incomplete Data

In [1005]:
np.isnan(raw_data_np).sum()

88005

In [1006]:
temporary_fill=np.nanmax(raw_data_np)+1
temporary_mean=np.nanmean(raw_data_np,axis=0).round(2)

C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_27236\2987940166.py:2: RuntimeWarning: Mean of empty slice
  temporary_mean=np.nanmean(raw_data_np,axis=0).round(2)

In [1007]:
temporary_fill

68616520.0

In [1008]:
temporary_mean

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
            440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [1009]:
temporary_stats=np.array([np.nanmin(raw_data_np,axis=0),
                         temporary_mean,
                         np.nanmax(raw_data_np,axis=0)])

C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_27236\4195934004.py:1: RuntimeWarning: All-NaN slice encountered
  temporary_stats=np.array([np.nanmin(raw_data_np,axis=0),
C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_27236\4195934004.py:3: RuntimeWarning: All-NaN slice encountered
  np.nanmax(raw_data_np,axis=0)])

In [1010]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [1011]:
column_strings=np.argwhere(np.isnan(temporary_mean)).squeeze()

In [1012]:
column_strings

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [1013]:
column_numeric=np.argwhere(np.isnan(temporary_mean)==False).squeeze()

In [1014]:
column_numeric

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

Reimporting dataset

In [1016]:
load_data_strings=np.genfromtxt("loan-data.csv",delimiter=";",
                                skip_header=1,
                                autostrip=True,
                               usecols=column_strings,
                               dtype=str)
load_data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [1017]:
load_data_numeric=np.genfromtxt("loan-data.csv",delimiter=";",
                                skip_header=1,
                                autostrip=True,
                               usecols=column_numeric,
                               filling_values=temporary_fill)
load_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

The Name of the columns

In [1019]:
headers_full=np.genfromtxt("loan-data.csv",delimiter=";",
                                autostrip=True,
                               skip_footer=raw_data_np.shape[0],
                               dtype=str)
headers_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [1020]:
header_string,header_numeric= headers_full[column_strings],headers_full[column_numeric]

In [1021]:
header_string

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1022]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

Creating Checkpoints

In [1024]:
def checkpoint(file_name,checkpoint_header,checkpoint_data):
    np.savez(file_name,header=checkpoint_header,data=checkpoint_data)
    checkpoint_variable=np.load(file_name+".npz")
    return (checkpoint_variable)

In [1025]:
checkpoint_test3=checkpoint('checkpoint-test3',header_string,load_data_strings)

In [1026]:
checkpoint_test3['data']

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [1027]:
np.array_equal(checkpoint_test3['data'],load_data_strings)

True

Manipulating String columns

In [1029]:
header_string

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1030]:
header_string[0]='Issue_date'

In [1031]:
header_string

array(['Issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1032]:
load_data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

Issue Date

In [1034]:
load_data_strings[:,0]=checkpoint_test3['data'][:,0]

In [1035]:
np.unique(load_data_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [1036]:
load_data_strings[:,0]=np.chararray.strip(load_data_strings[:,0],"-15")

In [1037]:
np.unique(load_data_strings[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'],
      dtype='<U69')

In [1038]:
months_names=np.array(['','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [1039]:
months_names

array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      dtype='<U3')

In [1040]:
for i in range(13):
   load_data_strings[:,0]=np.where(load_data_strings[:,0]==months_names[i],
            i,load_data_strings[:,0]
            )
    # Converting month names to month numbers

In [1041]:
np.unique(load_data_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

Loan Status

In [1043]:
header_string

array(['Issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1044]:
load_data_strings[:,1]=checkpoint_test3['data'][:,1]

In [1045]:
np.unique(load_data_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
       'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [1046]:
status_bad=np.array(['','Charged Off','Default','Late (31-120 days)'])
# Dividing status into two major categories i.e good or bad based on their loan_status, So that it will be easy to analyse.

In [1047]:
status_bad

array(['', 'Charged Off', 'Default', 'Late (31-120 days)'], dtype='<U18')

In [1048]:
load_data_strings[:,1]=np.where(np.isin(load_data_strings[:,1],status_bad),0,1)

In [1049]:
np.unique(load_data_strings[:,1])

array(['0', '1'], dtype='<U69')

In [1050]:
load_data_strings[:,1]

array(['1', '1', '1', ..., '1', '1', '1'], dtype='<U69')

Term

In [1052]:
header_string

array(['Issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1053]:
load_data_strings[:,2]

array(['36 months', '36 months', '36 months', ..., '36 months', '36 months', '36 months'],
      dtype='<U69')

In [1054]:
np.unique(load_data_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [1055]:
load_data_strings[:,2]=np.chararray.strip(load_data_strings[:,2]," months")

In [1056]:
load_data_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [1057]:
np.unique(load_data_strings[:,2])

array(['', '36', '60'], dtype='<U69')

In [1058]:
header_string[2]='term_months'
# Renamed term to term_month as it gives more clear information

In [1059]:
header_string[2]

'term_months'

In [1060]:
load_data_strings[:,2]=np.where(load_data_strings[:,2]=='',
         '60',load_data_strings[:,2])
# when we have missing data we assume the worst so replacing '' with 60 which is the max value

In [1061]:
np.unique(load_data_strings[:,2])

array(['36', '60'], dtype='<U69')

Grade and Subgrade

In [1063]:
header_string

array(['Issue_date', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status',
       'url', 'addr_state'], dtype='<U19')

In [1064]:
np.unique(load_data_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [1065]:
np.unique(load_data_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

Filling Subgrades

In [1067]:
for i in np.unique(load_data_strings[:,3])[1:]:
    load_data_strings[:,4]=np.where((load_data_strings[:,4]=='') & (load_data_strings[:,3]==i),
                                    i+'5',
                                    load_data_strings[:,4])

In [1068]:
np.unique(load_data_strings[:,4],return_counts=True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
        'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
        'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267,
        250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5],
       dtype=int64))

In [1069]:
# Still sub_grade column has 9 empty columns Substituted it with new subgrade H1

In [1070]:
load_data_strings[:,4]=np.where(load_data_strings[:,4]=='','H1',load_data_strings[:,4])

In [1071]:
np.unique(load_data_strings[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

Removing Grade column

In [1073]:
load_data_strings=np.delete(load_data_strings,3,axis=1)

In [1074]:
load_data_strings[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [1075]:
header_string=np.delete(header_string,3)
header_string

array(['Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

Converting Subgrade

In [1077]:
np.unique(load_data_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [1078]:
keys=list(np.unique(load_data_strings[:,3]))
values=list(range(1,np.unique(load_data_strings[:,3]).shape[0]+1))
dict_sub_grade=dict(zip(keys,values))

In [1079]:
for i in np.unique(load_data_strings[:,3]):
    load_data_strings[:,3]=np.where(load_data_strings[:,3]==i,
                            dict_sub_grade[i],
                            load_data_strings[:,3])

In [1080]:
np.unique(load_data_strings[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
       '4', '5', '6', '7', '8', '9'], dtype='<U69')

Verification Status

In [1082]:
header_string

array(['Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [1083]:
np.unique(load_data_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [1084]:
load_data_strings[:,4]=np.where((load_data_strings[:,4]=='') | (load_data_strings[:,4] == 'Not Verified'),0,1)

In [1085]:
np.unique(load_data_strings[:,4])

array(['0', '1'], dtype='<U69')

URL

In [1087]:
load_data_strings[:,5]

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', ...,
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249'], dtype='<U69')

In [1088]:
np.chararray.strip(load_data_strings[:,5],"https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'],
          dtype='<U69')

In [1089]:
load_data_strings[:,5]=np.chararray.strip(load_data_strings[:,5],"https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

In [1090]:
load_data_strings[:,5]

array(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'], dtype='<U69')

In [1091]:
headers_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [1092]:
load_data_numeric[:,0].astype(dtype=np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [1093]:
load_data_strings[:,5].astype(dtype=np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [1094]:
np.array_equal(load_data_numeric[:,0].astype(dtype=np.int32),load_data_strings[:,5].astype(dtype=np.int32))

True

In [1095]:
load_data_strings=np.delete(load_data_strings,5,axis=1)

In [1096]:
header_string=np.delete(header_string,5)

In [1097]:
load_data_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [1098]:
header_string

array(['Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

In [1099]:
load_data_numeric[:,0]

array([48010226., 57693261., 59432726., ..., 50415990., 46154151., 66055249.])

In [1100]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

State Address

In [1102]:
load_data_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [1103]:
states_name,states_count=np.unique(load_data_strings[:,5],return_counts=True)

In [1104]:
states_count_sorted=np.argsort(-states_count)
states_name[states_count_sorted],states_count[states_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ',
        'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY',
        'KS', 'OK', 'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK',
        'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,
         216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,
          84,   83,   74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,
          25,   24,   17,   16,   10], dtype=int64))

In [1105]:
load_data_strings[:,5]=np.where(load_data_strings[:,5]=='',0,load_data_strings[:,5])
load_data_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [1106]:
np.unique(load_data_strings[:,5])

array(['0', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69')

In [1107]:
states_west = np.array(['WA', 'OR','CA','NV','ID','MT', 'WY','UT','CO', 'AZ','NM','HI','AK'])
states_south = np.array(['TX','OK','AR','LA','MS','AL','TN','KY','FL','GA','SC','NC','VA','WV','MD','DE','DC'])
states_midwest = np.array(['ND','SD','NE','KS','MN','IA','MO','WI','IL','IN','MI','OH'])
states_east = np.array(['PA','NY','NJ','CT','MA','VT','NH','ME','RI'])

In [1108]:
load_data_strings[:,5] = np.where(np.isin(load_data_strings[:,5], states_west), 1, load_data_strings[:,5])
load_data_strings[:,5] = np.where(np.isin(load_data_strings[:,5], states_south), 2, load_data_strings[:,5])
load_data_strings[:,5] = np.where(np.isin(load_data_strings[:,5], states_midwest), 3, load_data_strings[:,5])
load_data_strings[:,5] = np.where(np.isin(load_data_strings[:,5], states_east), 4, load_data_strings[:,5])

In [1109]:
np.unique(load_data_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

Converting Numbers

In [1111]:
load_data_strings

array([['5', '1', '36', '13', '1', '1'],
       ['0', '1', '36', '5', '1', '4'],
       ['9', '1', '36', '10', '1', '4'],
       ...,
       ['6', '1', '36', '5', '1', '1'],
       ['4', '1', '36', '17', '1', '3'],
       ['12', '1', '36', '4', '0', '3']], dtype='<U69')

In [1112]:
load_data_strings=load_data_strings.astype(int)

In [1113]:
load_data_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

CheckPoint 1

In [1115]:
checkpoint_strings=checkpoint("checkpoint-strings",header_string,load_data_strings)

In [1116]:
checkpoint_strings['header']

array(['Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

In [1117]:
checkpoint_strings['data']

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [1118]:
np.array_equal(checkpoint_strings['data'],load_data_strings)

True

Transform Numeric Data

In [1120]:
load_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [1121]:
np.isnan(load_data_numeric).sum()

0

Substituing filler values

In [1123]:
# When we imported the file intilally we filled all the missing values with temporary_fill we don't see any nan values 
# now in load_data_numeric so now we need to fill with proper values

In [1124]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [1125]:
np.argwhere(load_data_numeric[:,0]==temporary_fill)

array([], shape=(0, 1), dtype=int64)

ID

In [1127]:
temporary_fill

68616520.0

In [1128]:
np.isin(load_data_numeric[:,0],temporary_fill).sum()

0

Temporary Stats

In [1130]:
temporary_stats 
# temporary_stats=np.array([np.nanmin(raw_data_np,axis=0),
                       # temporary_mean,
                       # np.nanmax(raw_data_np,axis=0)]) 
# As we filled missing values with max_values (temperory fill) at the time of impoerting but
# for funded_amount filling with max amount would create a -ve impact on all other values

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [1131]:
temporary_stats[:,column_numeric]

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

Funded Amount

In [1133]:
load_data_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

In [1134]:
load_data_numeric[:,2]=np.where(load_data_numeric[:,2] == temporary_fill,
         temporary_stats[0,column_numeric[2]],
         load_data_numeric[:,2])
load_data_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

In [1135]:
temporary_stats[0,3]

nan

In [1136]:
temporary_stats[0,column_numeric[3]]

6.0

In [1137]:
column_numeric

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

Loaded Amount,Interest Rate,Total Payment,Installment

In [1139]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [1140]:
for i in [1,3,4,5]:
    load_data_numeric[:,i]=np.where(load_data_numeric[:,i] == temporary_fill,
             temporary_stats[2,column_numeric[i]],
             load_data_numeric[:,i])

In [1141]:
load_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  ,       28.99,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  ,       28.99,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  ,       28.99,     1372.97,     2185.64],
       [46154151.  ,    35000.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  ,       28.99,      309.97,      301.9 ]])

Currency Change

In [1143]:
Eur_usd=np.genfromtxt('EUR-USD.csv',delimiter=",",autostrip=True,skip_header=1,usecols=3)
Eur_usd
# we only need column 3 from Eur-USD.csv since we only need closing exchange price

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [1144]:
load_data_strings[:,0]

array([ 5,  0,  9, ...,  6,  4, 12])

In [1145]:
header_string

array(['Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

In [1146]:
exchange_rate=load_data_strings[:,0]
for i in range(1,13):
    exchange_rate = np.where(exchange_rate == i,
                    Eur_usd[i-1],
                   exchange_rate)
# Creating a new array of exchange rate, First set the array equal to load_data_strings[:,0] since this 
# column has all month numbers then create a for loop to assign exchange rate by each month from Euro_usd object

In [1147]:
np.unique(exchange_rate)
# since still there are 0's in the exchange rate so substitute all the zero by mean of the column

array([0.  , 1.06, 1.08, 1.09, 1.09, 1.1 , 1.1 , 1.11, 1.12, 1.12, 1.13, 1.13, 1.13])

In [1148]:
exchange_rate=np.where(exchange_rate == 0,
                    np.mean(Eur_usd),
                   exchange_rate)
exchange_rate

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [1149]:
np.unique(exchange_rate)

array([1.06, 1.08, 1.09, 1.09, 1.1 , 1.1 , 1.11, 1.11, 1.12, 1.12, 1.13, 1.13, 1.13])

In [1150]:
# adding exchange_rate to load_data_numeric

In [1151]:
exchange_rate.shape

(10000,)

In [1152]:
load_data_numeric.shape

(10000, 6)

In [1153]:
#since exchange_rate and load_data_numeric are not same in shape we need to shape uniformly first
exchange_rate=np.reshape(exchange_rate,(10000,1))

In [1154]:
load_data_numeric=np.hstack((load_data_numeric,exchange_rate))

In [1155]:
header_numeric=np.concatenate((header_numeric,np.array(['exchange_rate'])))
header_numeric
# As we added a new column to load_data_numeric we should also add a new value to header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'],
      dtype='<U19')

Converting USD to Eur

In [1157]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'],
      dtype='<U19')

In [1158]:
columns_dollar=np.array([1,2,4,5])
columns_dollar

array([1, 2, 4, 5])

In [1159]:
load_data_numeric[:,[columns_dollar]]

array([[[35000.  , 35000.  ,  1184.86,  9452.96]],

       [[30000.  , 30000.  ,   938.57,  4679.7 ]],

       [[15000.  , 15000.  ,   494.86,  1969.83]],

       ...,

       [[10000.  , 10000.  ,  1372.97,  2185.64]],

       [[35000.  , 10000.  ,   354.3 ,  3199.4 ]],

       [[10000.  , 10000.  ,   309.97,   301.9 ]]])

In [1160]:
load_data_numeric.shape

(10000, 7)

In [1161]:
for i in columns_dollar:
    load_data_numeric = np.hstack((load_data_numeric, np.reshape(load_data_numeric[:,i] / load_data_numeric[:,6], (10000,1))))

In [1162]:
 load_data_numeric

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154151.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

Expanding the header

In [1164]:
header_additional=np.array([column_name+"_EUR" for column_name in header_numeric[columns_dollar]])
# as we added new columns the EUR conversion columns to load_data_numeric we need to add new column names to header_numeric

In [1165]:
header_numeric.shape

(7,)

In [1166]:
header_numeric=np.concatenate((header_numeric,header_additional))
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate',
       'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [1167]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate',
       'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [1168]:
column_numeric

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

In [1169]:
header_numeric[columns_dollar]
# add _USD to column names that are in USD

array(['loan_amnt', 'funded_amnt', 'installment', 'total_pymnt'], dtype='<U19')

In [1170]:
header_numeric[columns_dollar]=np.array([column_name+"_USD" for column_name in header_numeric[columns_dollar]])

In [1171]:
header_numeric[columns_dollar]

array(['loan_amnt_USD', 'funded_amnt_USD', 'installment_USD', 'total_pymnt_USD'], dtype='<U19')

In [1172]:
header_numeric

array(['id', 'loan_amnt_USD', 'funded_amnt_USD', 'int_rate', 'installment_USD', 'total_pymnt_USD',
       'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'],
      dtype='<U19')

In [1173]:
# Rearranging column names with USD and EUR counterparts side by side
column_index_order=[0,1,7,2,8,3,4,9,5,10,6]

In [1174]:
header_numeric=header_numeric[column_index_order]

In [1175]:
header_numeric

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [987]:
load_data_numeric
# now that we changed column indexes in header_numeric now we need to chnage the column indexes in load_data_numeric also accordigly

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154151.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

In [1325]:
load_data_numeric=load_data_numeric[:,column_index_order]

In [1327]:
load_data_numeric

array([[48010226.  ,    35000.  ,    31933.3 , ...,     9452.96,     8624.69,        1.1 ],
       [57693261.  ,    30000.  ,    27132.46, ...,     4679.7 ,     4232.39,        1.11],
       [59432726.  ,    15000.  ,    13326.3 , ...,     1969.83,     1750.04,        1.13],
       ...,
       [50415990.  ,    10000.  ,     8910.3 , ...,     2185.64,     1947.47,        1.12],
       [46154151.  ,    35000.  ,    31490.9 , ...,     3199.4 ,     2878.63,        1.11],
       [66055249.  ,    10000.  ,     9145.8 , ...,      301.9 ,      276.11,        1.09]])

Interest Rate

In [1329]:
header_numeric

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [1331]:
load_data_numeric[:,5]
# since the intertest rates are stored in %'s in original column it is of best practice to convert them to decimal

array([13.33, 28.99, 28.99, ..., 28.99, 16.55, 28.99])

In [1335]:
load_data_numeric[:,5]=load_data_numeric[:,5]/100

In [1337]:
load_data_numeric[:,5]

array([0.13, 0.29, 0.29, ..., 0.29, 0.17, 0.29])

Checkpoint 2: Numeric

In [1340]:
checkpoint_numeric=checkpoint('Checkpoint-Numeric',header_numeric,load_data_numeric)
# Now that we processed load_data_numeric we create a npz file before further processing

In [1342]:
checkpoint_numeric['header'],checkpoint_numeric['data']

(array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
        'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
       dtype='<U19'),
 array([[48010226.  ,    35000.  ,    31933.3 , ...,     9452.96,     8624.69,        1.1 ],
        [57693261.  ,    30000.  ,    27132.46, ...,     4679.7 ,     4232.39,        1.11],
        [59432726.  ,    15000.  ,    13326.3 , ...,     1969.83,     1750.04,        1.13],
        ...,
        [50415990.  ,    10000.  ,     8910.3 , ...,     2185.64,     1947.47,        1.12],
        [46154151.  ,    35000.  ,    31490.9 , ...,     3199.4 ,     2878.63,        1.11],
        [66055249.  ,    10000.  ,     9145.8 , ...,      301.9 ,      276.11,        1.09]]))

Creating the Dataset

In [1344]:
checkpoint_strings['data'].shape

(10000, 6)

In [1346]:
checkpoint_numeric['data'].shape

(10000, 11)

In [1352]:
loan_data=np.hstack((checkpoint_numeric['data'],checkpoint_strings['data']))

In [1354]:
loan_data

array([[48010226.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
       [57693261.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
       [59432726.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
       ...,
       [50415990.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
       [46154151.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
       [66055249.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]])

In [1358]:
np.isnan(loan_data).sum()

0

In [1362]:
header_full=np.concatenate((checkpoint_numeric['header'],checkpoint_strings['header']))

In [1369]:
header_full

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate',
       'Issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

Sorting the New Dataset

In [1371]:
loan_data[:,0]
# sort the array by using indices by using argsort and passing it to loan_data

array([48010226., 57693261., 59432726., ..., 50415990., 46154151., 66055249.])

In [1383]:
loan_data=loan_data[np.argsort(loan_data[:,0])]

In [1385]:
loan_data

array([[  373332.  ,     9950.  ,     9038.08, ...,       21.  ,        0.  ,        1.  ],
       [  575239.  ,    12000.  ,    10900.2 , ...,       25.  ,        1.  ,        2.  ],
       [  707689.  ,    10000.  ,     8924.3 , ...,       13.  ,        1.  ,        0.  ],
       ...,
       [68614880.  ,     5600.  ,     5121.65, ...,        8.  ,        1.  ,        1.  ],
       [68615915.  ,     4000.  ,     3658.32, ...,       10.  ,        1.  ,        2.  ],
       [68616519.  ,    21600.  ,    19754.93, ...,        3.  ,        0.  ,        2.  ]])

Storing the New DataSet

In [1390]:
loan_data=np.vstack((header_full,loan_data))

In [1392]:
loan_data

array([['id', 'loan_amnt_USD', 'loan_amnt_EUR', ..., 'sub_grade', 'verification_status',
        'addr_state'],
       ['373332.0', '9950.0', '9038.082814338286', ..., '21.0', '0.0', '1.0'],
       ['575239.0', '12000.0', '10900.20037910145', ..., '25.0', '1.0', '2.0'],
       ...,
       ['68614880.0', '5600.0', '5121.647851612413', ..., '8.0', '1.0', '1.0'],
       ['68615915.0', '4000.0', '3658.319894008867', ..., '10.0', '1.0', '2.0'],
       ['68616519.0', '21600.0', '19754.927427647883', ..., '3.0', '0.0', '2.0']], dtype='<U32')

In [1394]:
np.savetxt("loan-data-preprocessed.csv",
           loan_data,
           fmt="%s",
           delimiter=",")